<header>
  <h1>The Wednesday App</h1>
  <h3>The app that does everything and nothing!</h3>
  <nav class="site-nav">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/products">products</a></li>
      <li><a href="/projects">projects</a></li>
      <li><a href="/mee">Mee</a></li>
    </ul>
  </nav>
  <div class="header-links">
    <ul>
      <li>Sign up</li>
      <li>Login</li>
    </ul>
  </div>
</header>