<div class="card-container">
  <div class="card">
    <div class="card-img">
      <img src="..." alt="product name">
    </div>
    <div class="card-title">
      <h4>Product name</h4>
    </div>
    <div class="card-body">
      <p>Product description and info</p>
      <p>price and delivery options</p>
    </div>
    <button type="submit" class="card-btn">Add to cart</button>
  </div>
</div>