<div class="sidebar-layout">
  <side>Sidebar</side>
  <main>
    
    <%- include ('./product-card') %>
    <%- include ('./product-card') %>
    <%- include ('./product-card') %>
    <%- include ('./product-card') %>
    
  </main>
</div>