
<div class="container">
  <form action="/signup" method="post">
    <label for="fname">First Name</label>
    <input type="text" placeholder="Enter your first name" name="fname" id="fnameinp" required>

    <label for="lname">Last Name</label>
    <input type="text" placeholder="Enter your last name" name="lname" id="lnameinp" required>

    <label for="username">Username</label>
    <input type="username" placeholder="Enter a user name" name="username" id="usernameinp" required>

    <label for="email">Email</label>
    <input type="email" placeholder="Enter your email" name="email" id="emailinp" required>

    <label for="password">Password</label>
    <input type="password" placeholder="Enter Password" name="password" required>
    <button type="submit">Sign up</button>
  </form>
</div>